
body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffef96;
}

header {
  background-color: #ff6f61; 
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

#search-container {
  margin-top: 10px;
  display: flex; 
  align-items: center;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 2px solid #ff6f61;
  border-radius: 20px; 
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #ff6f61; /* Coral color */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px; /* Rounded corners */
}

button:hover {
  background-color: #ff927f; /* Lighter coral on hover */
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

img {
  margin: 10px;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

footer {
  text-align: center;
  margin-top: 20px;
}

footer button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #ff6f61; /* Coral color */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px; /* Rounded corners */
}

footer button:hover {
  background-color: #ff927f; /* Lighter coral on hover */
}
